#plus3
#V4.2.11
# MODDED https://github.com/qidi-community - QidiTech-3D-Printers/Klipper-Firmware-Configurations - Mr.Buisness-Modded-Configs
# This file contains common pin mappings for MKS SKIPR
# boards. To use this config, the firmware should be compiled for the
# stm32f407. When running "make menuconfig", select the 48KiB
# bootloader, and enable "Serial for communication" and select the "on USART1 PA10/PA9"

# The "make flash" command does not work on the MKS SKIPR. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "mks_skipr.bin" on an SD card and then restart the
# MKS SKIPR with that SD card.
# This file contains common pin mappings for MKS SKIPR
# boards. To use this config, the firmware should be compiled for the
# stm32f407. When running "make menuconfig", select the 48KiB
# bootloader, and enable "Serial for communication" and select the "on USART1 PA10/PA9"

# The "make flash" command does not work on the MKS SKIPR. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "mks_skipr.bin" on an SD card and then restart the
# MKS SKIPR with that SD card.

# Include other configuration files
[include MKS_THR.cfg]
[include Macros/*.cfg]
[include Hardware/*.cfg]
[include Functionality/*.cfg]

# Microcontroller Configuration (The hardware use USART1 PA10/PA9 connect to RK3328)
[mcu]
#serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_4D0045001850314335393520-if00
serial: /dev/ttyS0
restart_method: command


#[mcu MKS_THR]
#serial:/dev/serial/by-id/usb-Klipper_rp2040_D5CE4D9543D14858-if00

#canbus_uuid: 11aa22bb33cc


#####################################################################
# Printer Configuration
#####################################################################
 # Extruder Configuration
[extruder]
step_pin: MKS_THR:gpio5
dir_pin: MKS_THR:gpio4 
enable_pin: !MKS_THR:gpio10 #! to invert
rotation_distance: 53.5  #22.6789511	#Bondtech 5mm Drive Gears
gear_ratio: 1628:170	 	 
microsteps: 16 #Default is 16 for TMC2209
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400 # in mm
filament_diameter: 1.75 # in mm
min_temp: 0 # Degrees C
max_temp: 360 # Degrees C
min_extrude_temp: 170 # Degrees C
smooth_time: 0.000001 # Seconds

# Hotend Configuration
heater_pin: MKS_THR:gpio0
sensor_type:MAX6675
#   One of "MAX6675", "MAX31855", "MAX31856", or "MAX31865".
#   One of "MAX6675", "MAX31855", "MAX31856", or "MAX31865".
sensor_pin:MKS_THR:gpio17
#   The chip select line for the sensor chip. This parameter must be
#   provided.
spi_speed: 100000
#   The SPI speed (in hz) to use when communicating with the chip.
#   The default is 4000000.
#spi_bus:spi1
spi_software_sclk_pin:MKS_THR:gpio18
spi_software_mosi_pin:MKS_THR:gpio19
spi_software_miso_pin:MKS_THR:gpio16
#   See the "common SPI settings" section for a description of the
#   above parameters.
#tc_type: K
#tc_use_50Hz_filter: False
#c_averaging_count: 1
#   The above parameters control the sensor parameters of MAX31856
#   chips. The defaults for each parameter are next to the parameter
#   name in the above list.
max_power: 1.0 # 1.0 = 100% power
#control : pid  
#pid_Kp=14.734
#pid_Ki=6.549 
#pid_Kd=8.288

# Pressure Advance Settings
pressure_advance: 0.032            # Adjust this value based on your filament and printing conditions
pressure_advance_smooth_time: 0.03 # Seconds
max_extrude_cross_section: 5       # in mm^2
instantaneous_corner_velocity: 10.000 # in mm/s
max_extrude_only_distance: 120.0   # in mm
max_extrude_only_velocity: 5000    # in mm/s
max_extrude_only_accel: 2000       # in mm/s^2
step_pulse_duration: 0.000002      # in seconds

[firmware_retraction]
retract_length: 1.0 # in mm
retract_speed: 50 # in mm/s         
# unretract_extra_length: 0.05
# unretract_speed: 50

# Input Shaper Settings
[adxl345] # Accelerometer Chip
cs_pin: MKS_THR:gpio13
spi_software_sclk_pin: MKS_THR:gpio14
spi_software_mosi_pin: MKS_THR:gpio15
spi_software_miso_pin: MKS_THR:gpio12
axes_map: -x, z, -y # Adjust axes mapping based on your printer's orientation

[resonance_tester]
accel_chip:adxl345 # Accelerometer Chip
probe_points: # Points to test
    140, 140, 20  # an example

[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 54.0
shaper_type_y = mzv
shaper_freq_y = 45.2

# Movement Configuration
[printer]
kinematics: corexy
max_velocity: 600          # firmware cap; slicer can still use less
max_accel: 10000           # aggressive but sane with input shaping
max_accel_to_decel: 10000
max_z_velocity: 15
max_z_accel: 500
square_corner_velocity: 5  # cleaner corners, less ringing

[force_move]
enable_force_move : True # Enable force move to allow movement commands during certain operations

[gcode_macro M84]
rename_existing:M84.1 # Rename existing M84 to M84.1
gcode:
	SET_STEPPER_ENABLE STEPPER=stepper_x enable=0
	SET_STEPPER_ENABLE STEPPER=stepper_y enable=0
	SET_STEPPER_ENABLE STEPPER=stepper_z enable=0
	SET_STEPPER_ENABLE STEPPER=extruder enable=0
	SET_KINEMATIC_POSITION

[delayed_gcode KINEMATIC_POSITION]
initial_duration:0.2 # seconds
gcode:
    SET_KINEMATIC_POSITION X=150 # Set to half of your X max travel
    SET_KINEMATIC_POSITION Y=150 # Set to half of your Y max travel
	SET_KINEMATIC_POSITION Z=150 # Set to half of your Z max travel
    SET_FILAMENT_SENSOR SENSOR=fila ENABLE=0 # Disable filament sensor at startup

[homing_override]
set_position_X:0
set_position_y:0
set_position_z:0
axes:xy
gcode: 
    {% set HOME_CUR = 1 %}
    {% set driver_config = printer.configfile.settings['tmc2209 stepper_x'] %}
    {% set RUN_CUR = driver_config.run_current %}
    {% set HOLD_CUR = driver_config.hold_current %}
	{% if params.X is defined %}
	    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR * 0.8} 
        G28 X
		SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR}       
        BEEP I=1 DUR=100       
        G1 X10 F1200
    {% endif %}

    {% if params.Y is defined %}
		SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR * 0.9} 
		G28 Y
		SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR}    
        BEEP I=1 DUR=100          
       G1 Y10 F1200
    {% endif %}

    {% if params.Z is defined %}
        G28 Z
        G1 Z20 F480      
        BEEP I=1 DUR=100	  
    {% endif %}

    {% if params.X is undefined %}
    {% if params.Y is undefined %}
    {% if params.Z is undefined %}
    
    G91
    G1 X10 F2400
    G1 Y10 F2400
    G4 P2000
    
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR * 0.8} 
    G28 X
	SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR} 
    BEEP I=1 DUR=100  
    G1 X10 F1200

	SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR * 0.9} 
	G28 Y
	SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR} 
    BEEP I=1 DUR=100        
    
    G90
    G1 X{printer.toolhead.axis_maximum.x/2 - printer.probe["x_offset"]} Y{printer.toolhead.axis_maximum.y/2 - printer.probe["y_offset"]} F7800
    G91

    G28 Z
    BEEP I=1 DUR=100  
    G1 Z50  F480
    {% endif %}
    {% endif %}
    {% endif %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CUR} 
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CUR} 
    M204 S10000

    G90

# Pin Definitions ==============     
# Heated Bed
[heater_bed]
heater_pin:PC8
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: PA0
max_power: 1.0 # 1.0 = 100% power
min_temp: -100 # Degrees C
max_temp: 125 # Degrees C
#control = pid
#pid_kp = 71.039
#pid_ki = 2.223
#pid_kd = 567.421

# Chamber Heater
[heater_generic hot]
heater_pin:PB10
max_power:1.0 # 1.0 = 100% power
sensor_type:NTC 100K MGB18-104F39050L32
sensor_pin:PA1
control = watermark
max_delta: 1.0
#pid_Kp=63.418 
#pid_Ki=1.342 
#pid_Kd=749.125
min_temp:-100 # Degrees C
max_temp:70 # Degrees C

# Fans Configuration ================
# Turbo Fan/Build Plate Fan
[output_pin fan2]
pin: PA8
pwm: True
cycle_time: 0.0100
hardware_pwm: false
value: 0.00
scale: 255
shutdown_value: 0.0

# Hotend Throat Fan - Auto start at 50 degrees
#[heater_fan my_nozzle_fan1]
#pin:PC9
#max_power:1
#shutdown_speed:1
#cycle_time:0.05
#kick_start_time:0.05
#off_below:0
#heater:extruder
#heater_temp:50.0

## Activated Carbon Blower Fan
[output_pin fan3]
pin:PC9
pwm: True
cycle_time: 0.0100
hardware_pwm: false
value: 0
scale: 255
shutdown_value: 0.0

## fan0 - Hotend Fan
[heater_fan hotend_fan]
pin:MKS_THR:gpio1
max_power: 1.0 # 1.0 = 100% power
kick_start_time: 0.5 # Seconds
heater: extruder
heater_temp: 50.0 # in Degrees C
fan_speed: 1.0
off_below: 0 # in Degrees C

[heater_fan hotend_fan2]
pin:MKS_THR:gpio20
max_power: 1.0 # 1.0 = 100% power
kick_start_time: 0.5 # Seconds
heater: extruder
heater_temp: 50.0 # in Degrees C
fan_speed: 1.0
off_below: 0 # in Degrees C
 
[heater_fan board_fan]
pin:PC4
max_power: 1.0 # 1.0 = 100% power
kick_start_time: 0.5 # Seconds
heater: extruder
heater_temp: 50.0 # in Degrees C
fan_speed: 1.0
off_below: 0 # in Degrees C

## FAN1 - Part Cooling Fan
[output_pin fan0]
pin: MKS_THR:gpio2
pwm: True
cycle_time: 0.0100
hardware_pwm: false
value: 0
scale: 255
shutdown_value: 0.0

# PWC 
[output_pin pwc]
pin: PA3
pwm: False
value: 1
shutdown_value: 1

# LED and Buzzer Configuration ==============
# LED Light - Chamber Lighting - In 5V-RGB Position
[output_pin caselight]
pin: PC7
pwm: false
shutdown_value:0
value:1
#cycle_time:0.01 # Seconds

# Buzzer/Sound
[output_pin beeper]
pin: PA2
pwm: false
shutdown_value:0
value:0

[output_pin sound] 
pin: PA13
value:0

# Verify Heaters ==============
[verify_heater extruder]
max_error: 120
check_gain_time:20 # in Seconds
hysteresis: 5 # in Degrees C
heating_gain: 1 # in Degrees C

[verify_heater heater_bed]
max_error: 200
check_gain_time:60 # in Seconds
hysteresis: 3 # in Degrees C
heating_gain: 1 # in Degrees C

[verify_heater hot]
max_error: 300 
check_gain_time:480 # in Seconds
hysteresis: 5 # in Degrees C
heating_gain: 1 # in Degrees C

#---------------------------------------------------------------------
# SD Card Configuration
[virtual_sdcard]
#path:/home/mks/uploads
path: ~/gcode_files

[save_variables]
filename: ~/mks/variables.cfg

# Adaptive Mesh Leveling Object Exclude (Dependency for KAMP/Klipper Adaptive Mesh)
[exclude_object]

[pause_resume] # Pause/Resume Support

[display_status] # Display Status Support

[idle_timeout] # Idle Timeout Settings
timeout: 86400

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.196667, -0.173333, -0.150000, -0.129167, -0.136667, -0.160833, -0.197500
#*# 	-0.132500, -0.090833, -0.012500, 0.015833, -0.017500, -0.106667, -0.165000
#*# 	-0.116667, -0.064167, 0.073333, 0.060833, -0.020000, -0.055000, -0.134167
#*# 	-0.120833, -0.022500, 0.102500, 0.000000, -0.063333, -0.071667, -0.128333
#*# 	-0.105000, 0.025000, 0.049167, -0.022500, -0.023333, -0.073333, -0.119167
#*# 	-0.132500, -0.077500, -0.053333, -0.021667, -0.055000, -0.110000, -0.112500
#*# 	-0.089167, -0.071667, -0.052500, -0.013333, -0.046667, -0.073333, -0.075000
#*# tension = 0.2
#*# min_x = 20.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 4
#*# min_y = 20.0
#*# x_count = 7
#*# max_y = 260.0
#*# mesh_x_pps = 4
#*# max_x = 260.0
#*#
#*# [bed_mesh kamp]
#*# version = 1
#*# points =
#*# 	  -0.281667, -0.262500, -0.198333, -0.457500, -0.234167, -0.320833, -0.366667
#*# 	  -0.149167, -0.113333, -0.090833, -0.079167, -0.120833, -0.189167, -0.270833
#*# 	  -0.089167, -0.080000, -0.002500, -0.016667, -0.093333, -0.153333, -0.219167
#*# 	  -0.051667, -0.009167, 0.085000, 0.000000, -0.065833, -0.091667, -0.155833
#*# 	  -0.065000, -0.003333, 0.011667, -0.061667, -0.074167, -0.105000, -0.143333
#*# 	  -0.084167, -0.047500, -0.030000, -0.013333, -0.035833, -0.080000, -0.100000
#*# 	  -0.060000, -0.057500, -0.054167, -0.020000, -0.035833, -0.057500, -0.048333
#*# tension = 0.2
#*# min_x = 20.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 4
#*# min_y = 20.0
#*# x_count = 7
#*# max_y = 260.0
#*# mesh_x_pps = 4
#*# max_x = 260.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 48.249
#*# pid_ki = 11.913
#*# pid_kd = 48.853
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 68.899
#*# pid_ki = 1.629
#*# pid_kd = 728.607
