# Configuration file for QIDI X Plus 3D Printer - Steppers
# This file contains stepper motor configurations for the X, Y, and Z axes.
# Adjust the parameters as needed for your specific hardware setup (ONLY IF YOU KNOW WHAT YOU ARE DOING). 

[stepper_x]
step_pin:PB4
dir_pin:PB3
enable_pin:!PB5
microsteps: 16 #Default is 16 for TMC2209
rotation_distance: 39.96
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin:tmc2209_stepper_x:virtual_endstop
position_endstop: -11
position_min: -11
position_max: 280
homing_speed: 40
homing_retract_dist:0
homing_positive_dir:False
step_pulse_duration:0.000002

[stepper_y]
step_pin:PC14
dir_pin:PC13
enable_pin:!PC15
microsteps: 16 #Default is 16 for TMC2209
rotation_distance: 39.96
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin:tmc2209_stepper_y:virtual_endstop
position_min: -18            # stay just above the sketchy zone of -20 as below -21 it will crash into the frame stops. 
position_endstop: -18
position_max: 280
homing_speed: 40
homing_retract_dist:0
homing_positive_dir: False
step_pulse_duration:0.000002

[stepper_z]
step_pin:PC10
dir_pin:PA15
enable_pin: !PC11
microsteps: 16 #Default is 16 for TMC2209
rotation_distance: 8
full_steps_per_rotation: 200
endstop_pin:probe:z_virtual_endstop#!PC3 #for Z-max; endstop have'!' is NO
#position_endstop:15
position_max:280
position_min: -2
homing_speed: 10
homing_retract_dist: 8.0
second_homing_speed: 5
homing_positive_dir:false
step_pulse_duration:0.000002