########################################
# SCREW TILT ADJUST configuration
# This configuration file is used to set up the screw tilt adjust functionality.
# It defines the positions of the screws used for the manual bed leveling by adjusting the screws and the parameters for the adjustment process.
# Make sure to adjust the screw positions according to your specific printer model and bed size.

 # Screw positions are given in degrees and radius from center (0,0) of the bed.
 # The screws are numbered clockwise starting from front-left.
########################################

[screws_tilt_adjust]
screw1: 35, 35
screw1_name: Front-Left

screw2: 210, 35
screw2_name: Front-Right

screw3: 210, 210
screw3_name: Rear-Right

screw4: 35, 210
screw4_name: Rear-Left

screw_thread: CCW-M4
horizontal_move_z: 10

[gcode_macro LEVEL_BED]
gcode:
    G28
    SCREWS_TILT_CALCULATE