########################################
# SCREW TILT ADJUST configuration
# This configuration file is used to set up the screw tilt adjust functionality.
# It defines the positions of the screws used for the manual bed leveling by adjusting the screws and the parameters for the adjustment process.
# Make sure to adjust the screw positions according to your specific printer model and bed size.

 # Screw positions are given in degrees and radius from center (0,0) of the bed.
 # The screws are numbered clockwise starting from front-left.
########################################

[screws_tilt_adjust] # Section for screw tilt adjust settings
screw1: 22, 47.0 # Front-Left screw position typically referred to as the home screw (angle in degrees, radius in mm)
screw1_name: Front-Left screw # Name for screw 1
screw2: 201.0, 47.0 # Front-Right screw position (angle in degrees, radius in mm)
screw2_name: Front-Right screw # Name for screw 2
screw3: 201.00, 225.0 # Rear-Right screw position (angle in degrees, radius in mm)
screw3_name: Rear-Right screw # Name for screw 3
screw4: 22.0, 225.0  # Rear-Left screw position (angle in degrees, radius in mm)
screw4_name: Rear-Left screw # Name for screw 4
screw_thread: CCW-M4 # Thread type of the screws (e.g., CCW-M4 for counter-clockwise M4 screws)
horizontal_move_z: 10 # Z height for horizontal moves during adjustment (in mm)
speed: 300 # Speed for screw adjustments (in mm/min)